* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    background-color: #000435;
}
nav {
    position: fixed;

    top: 0.5vh; 

    width: 100%;
    display: flex;
    align-items: center; /* Ensures vertical alignment of all items */
    justify-content: space-around; /* Distributes buttons evenly */
    background-color: #020035;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.1);
    padding: 1vh 0;
    border-bottom: 0.2vh solid white; /* Solid white line at the bottom */
}

button, nav a.button { /* Apply styles uniformly to both buttons and styled links */
    padding: 1vh 2vh;
    margin: 1vh;
    cursor: pointer;
    color: white; /* Ensures text is white */
    background-color: transparent; /* Makes button background transparent */
    font-family: 'Sanchez', serif; /* Sets the font to Sanchez */
    font-size: 1.8vh; /* Uniform font size */
    line-height: 1.5; /* Uniform line height */
    height: 5vh; /* Uniform height */
    border: none;
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Ensures alignment and spacing */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
    vertical-align: middle; /* Aligns text vertically */
}

button:hover, nav a.button:hover {
    background-color: white; /* Changes background to white on hover */
    color: #000080; /* Changes text color to navy on hover */
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

button.active {
    border-bottom: 0.2vh solid white; /* Adds a white underline to the active button */
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1/3 for text and 2/3 for image */
    height: 100vh; /* Full viewport height */
    align-items: center; /* Aligns content vertically center */
    gap: 2vh; /* Optional: adds some space between text and image */
}

.text-block {
    padding: 2vh; /* Adds padding inside the text block for spacing */
    color: white; /* As per your color scheme */
}

.home-container {
    display: flex;  /* Or 'grid' depending on your layout preference */
    align-items: center;  /* Centers the items vertically */
    justify-content: space-between; /* Adjusts the space distribution */
    height: 100vh;
    padding: 2vh;  /* Adds padding around the entire container */
}

.meshot {
    width: 66.66%; /* Adjust the width if necessary */
    height: auto; /* Maintains the aspect ratio */
}

.meshot {
    width: 60;  /* Takes up 2/3 of the container */
    height: auto;  /* Maintains the aspect ratio */
    margin: 2vh;  /* Adds margin around the image */
}

.text-block h2 {
    margin-bottom: 2.5vh;  /* Adds space below the h2 */
}


.about-container {
    display: flex;  /* Or 'grid' depending on your layout preference */
    align-items: center;  /* Centers the items vertically */
    justify-content: space-between; /* Adjusts the space distribution */
    height: 300vh;
    padding: 1vh;  /* Adds padding around the entire container */
}

.aboutshot {
    width: 40%; /* Adjust the width if necessary */
    height: auto; /* Maintains the aspect ratio */
}

.aboutshot {
    width: 50;  /* Takes up 2/3 of the container */
    height: auto;  /* Maintains the aspect ratio */
    margin: 2vh;  /* Adds margin around the image */
}

.text-block {
    text-align: left;
    font-family: 'Sanchez', serif;
}

.text-block p {
    font-size: 1.8vh;
    line-height: 1.6;
    margin-bottom: 2vh;  /* Add space after each paragraph for clear separation */
    padding: 1vh; /* Optional: Adds padding inside each paragraph block */

}

.experience-item {
    display: flex;
    align-items: center; /* Centers items vertically within each flex container */
    margin-bottom: 2vh; /* Adds space between each experience item */
}

.experience-image {
    width: 10vh; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-right: 2vh; /* Adds space between the image and the text */
}

.experience-title {
    font-size: 1.8vh; /* Specify the font size */
    font-weight: bold; /* Optional: make the title bold */
}

/* Style the hr tag if necessary */
hr {
    margin-top: 2vh; /* Space above the horizontal line */
}
